<!-- <p *ngFor="let data of content">{{ data.body }}</p> -->

<!-- <button mat-raised-button (click)="clkMe()">CLick Me</button> -->
<!-- address: {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": -->
<!-- 
          {{data.address.street }}
          {{data.address.suite}}
          {{data.address.city}}
          {{data.address.zipcode,}}
          {{data.address.geo.lat}}
          {{data.address.geo.lng}}
         -->

<div class="dataBlock">
  <div *ngIf="issue">Unable to fetch the data</div>
  <mat-accordion *ngIf="noIssue" class="example-headers-align">
    <mat-expansion-panel *ngFor="let data of userData">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ data.name }} </mat-panel-title>
        <mat-panel-description>
          {{ data.email }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Name : {{ data.name }}</mat-list-item>
        <mat-list-item role="listitem"
          >Username : {{ data.username }}</mat-list-item
        >
        <mat-list-item role="listitem"
          >EMail id : {{ data.email }}
        </mat-list-item>
        <mat-list-item role="listitem"
          >Address: {{ data.address.street }}, {{ data.address.suite }},
          {{ data.address.city }}, {{ data.address.zipcode }},
          {{ data.address.geo.lat }}, {{ data.address.geo.lng }}</mat-list-item
        >
      </mat-list>

      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        class="btns"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-fab
        color="warn"
        aria-label="Example icon button with a delete icon"
        class="btns"
        (click)="deleteData(data.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
